.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  position: relative;
}

button {
  font-size: inherit;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: ivory;
  color: inherit;
  background-color: inherit;
  margin-left: 0.5em;
}

span {
  color: crimson;
}

button:active {
  background-color: darkseagreen;
}

.theme {
  position: absolute;
  top: 1em;
  right: 0;
  font-size: 0.6em;
}
